.food-card {
  margin-left: 3.5vw;
  margin-top: 1vw;
  height: 17vw;
  width: 20vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.food-card img {
  height: 10vw;
  width: 20vw;
}
.food-card h3 {
  color: black;
  margin: 0.5vw;
}
.food-card h6 {
  color: black;
  margin: 0.5vw;
}
.food-card h6 img {
  color: black;
  height: 1vw;
  width: 1vw;
}
